/* color palette */

.blue2 {
  color: rgb(86, 86, 185); /* not used */
}

.blue3 {
  color: rgb(126, 126, 209); /* not used */
}

.back-blue1 {
  background-color: rgb(100, 100, 209);
}

.back-blue2 {
  background-color: rgba(100, 100, 209, 0.4);
}

.back-blue3 {
  background-color: rgba(100, 100, 209, 0.3);
}

.back-blue4 {
  background-color: rgba(100, 100, 209, 0.2);
}

.yellow1 {
  color: rgb(204, 153, 0); /* not used */
}

.yellow2 {
  color: rgb(255, 191, 0); /* not used */
}

.yellow3 {
  color: rgb(255, 204, 52);
}

.back-yellow1 {
  background-color: rgba(255, 204, 52, 0.9);
}

.light-text {
  color: rgb(220, 220, 255);
}

.dark-text {
  color: rgb(32, 32, 100);
}
