/* COLOUR PALETTE */

/* text */

.light-text {
  color: rgb(220, 220, 255);
}

.dark-text {
  color: rgb(25, 25, 100);
}

.yellow-text {
  color: rgb(255, 204, 52);
}

/* backgrounds */

.back-blue1 {
  background-color: rgb(100, 100, 209);
}

.back-blue2 {
  background-color: rgba(100, 100, 209, 0.4);
}

.back-blue3 {
  background-color: rgba(100, 100, 209, 0.3);
}

.back-blue4 {
  background-color: rgba(100, 100, 209, 0.2);
}

.back-yellow1 {
  background-color: rgba(255, 204, 52, 0.9);
}

/* borders */

.bottom-border {
  border-bottom: 2px solid rgb(255, 204, 52);
}

.top-border {
  border-top: 2px solid rgb(255, 204, 52);
}
