nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 204, 52);
  color: rgb(25, 25, 100);
}

.button:hover {
  background-color: rgb(255, 210, 40);
}

.button:active {
  box-shadow: 0 3px rgba(100, 100, 209, 0.4);
  transform: translateY(3px);
}
