/* MEDIA QUERIES */

/* breakpoint where the rounded info-box corners look strange against
the edge of the browser window. This point is the container width (1200px) plus
the left-side padding (24px) */
@media only screen and (max-width: 1224px) {

  .info-box {
    border-radius: 0;
  }
}

/* breakpoint where 'guest lecture' details become taller than accompanying image */
@media only screen and (max-width: 1008px) {

  .left {
    width: 55%;
  }

  .right {
    width: 45%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

/* breakpoint where navigation menu splits into a second line, and course
boxes start looking too narrow */
@media only screen and (max-width: 884px) {

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  .business-id span {
    display: none;
  }

  .banner .right h1, .banner .right h3, .button {
    margin-right: 2rem;
  }

  .remove {
    display: none;
  }

  .course:nth-child(2n) {
    margin: 0 2rem;
  }

  .course:first-child {
    margin: 0 0 0 2rem;
  }

  .course:last-child {
    margin: 0 2rem 0 0 ;
  }

  .middle {
    display: flex;
  }

  .middle .course {
    margin-right: 2rem;
  }
}

/* breakpoint where banner text becomes too tall and narrow, and won't centre
on the vertical axis. */
@media only screen and (max-width: 778px) {

  .banner .right h1, .banner .right h3 {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .button {
    margin-top: 0.5rem;
  }

  .banner .left {
    justify-content: center;
  }
}

/* breakpoint where the two-column layout doesn't look good anymore. The
banner text becomes too tall for the image next to it, the text in the
little info boxes (like "Our guest lecture", etc) becomes too tall and
narrow, and the large feature images look awkwardly small and lack impact. */
@media only screen and (max-width: 664px) {

  .desktop {
    display: none;
  }

  /* reinstate original font sizes */

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  /* header */

  nav {
    display: none;
  }

  .business-id {
    display: none;
  }

  header .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .mobile img {
    height: 2.5rem;
    vertical-align: middle;
  }

  .mobile .logo {
    height: 3rem;
  }

  /* banner */

  .banner {
    flex-direction: column;
  }

  .banner .left, .banner .right {
    width: 100%; /* spec */
    padding: 0;
  }

  .banner img {
    width: 100%; /* spec */
    border-radius: 0;
  }

  .banner .right h1, .banner .right h3 {
    margin-top: 2rem; /* spec */
  }

  .button {
    margin: 1.5rem 1rem 2rem 1rem; /* spec */
  }

  /* information */

  .information .left {
    display: none;
  }

  .information .right {
    width: 100%;
    padding-top: 1rem; /* spec */
    padding-bottom: 0;
  }

  .info-box {
    flex-direction: column;
    padding-bottom: 3rem; /* spec - 4rem (64px) total space between info boxes */
    padding-top: 1rem;
  }

  .info-box:last-child {
    padding-bottom: 2rem;
  }

  .information .mobile {
    width: 100%;
    display: block;
  }

  .details {
    width: 100%;
  }

  .details a {
    margin-bottom: 0;
  }

  .details h3 {
    padding: 2rem 1rem 0.5rem 1rem;
    margin: 0;
  }

  /* courses */

  .row-of-courses {
    display: none;
  }

}
