/* SHARED STYLES */

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

/* site container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* most sections of the page contain two columns, left and right */
.column {
  display: flex;
  flex-direction: column;
}

.left {
  width: 60%; /* spec */
  padding: 2rem 1.5rem; /* spec */
}

.right {
  width: 40%; /* spec */
  padding: 2rem 0; /* spec */
}

/* two sections contain a large image in the left column */
.left img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* two sections comprise multiple boxes containing images and details */
.info-box {
  display: flex;
  align-items: center;
  padding: 1rem; /* spec */
  background-color: lightgrey;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%; /* spec */
}

.details * {
  margin-bottom: 0.5rem; /* spec */
  padding: 0 1rem; /* spec */
}

/* HEADER */

header {
  justify-content: space-between;
  height: 64px; /* spec */
  background-color: lightpink;
}

/* HEADER - business id */

.business-id {
  display: flex;
  align-items: center;
  margin-left: 1.5rem; /* spec */
}

.business-id span {
  font-size: 2rem; /* spec */
}

.business-id img {
  height: 3rem;
}

/* HEADER - navigation menu */

nav {
  margin: auto 1.5rem; /* spec */
}

nav span {
  font-size: 1.5rem;
  padding-left: 1rem; /* spec */
}

/* BANNER - right side, containing call to action */

.banner {
  background-color: lightblue;
}

.banner .right {
  justify-content: center;
}

.banner .right * {
  margin: 1rem 0;
  padding: 0 1rem;
}

/* INFORMATION - left side, containing image and quote */

.information {
  background-color: lightpink;
}

.information h2 {
  margin: 2rem 0 1.5rem 0; /* spec */
}

.information .left span {
  margin-top: 2rem;
  font-weight: bold;
}

/* INFORMATION - right side, containing upcoming events */

.information .info-box:first-child {
  padding-top: 0;
}

.info-box img {
  width: 35%; /* spec */
}

/* COURSES */

.courses {
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; /* spec */
  background-color: lightblue;
}

.row-of-courses {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* spec */
}

.course {
  width: 100%;
  background-color: lightgrey;
}

.course:first-child {
  margin: 0 2rem 0 4.5rem; /* spec */
}

.course:last-child {
  margin: 0 4.5rem 0 2rem; /* spec */
}

.course img {
  width: 100%;
}

.course .details {
  width: 100%;
  padding: 1rem 0 1.5rem 0; /* spec */
}

/* THESIS EXHIBIT */

.thesis {
  flex-direction: column;
  align-items: center;
  padding-top: 2rem; /* spec */
  background-color: lightpink;
}

.thesis-columns {
  display: flex;
  align-items: flex-start;
}

video {
  margin-top: -1rem;
}

.thesis .left h3 {
  margin: 1.5rem 0 0.5rem 0; /* spec */
}

/* FOOTER */

footer {
  justify-content: space-between;
  background-color: lightblue;
}

footer p, .footer-menu {
  padding: 1rem 1.5rem; /* spec */
}

footer span {
  margin-left: 0.5rem;
}
